body
{
  background:#FF772F;
}

.col-without-padding
{
  padding-right:0px;
  padding-left:0px;
}

.col-without-shadow
{
  box-shadow: none;
}
.col-without-radius
{
  border-radius: 0px;
}


.header
{
  height:150px;
  background:#232D3B;
  border-bottom:5px solid #EF4224;
}