@font-face
{
	font-family:'master';
	src:url('../fonts/master_of_break.ttf');
}
@font-face
{
	font-family:'milk';
	src:url('../fonts/cookies&milk-regular.ttf');
}

body
{
  background:#FF772F;
}

hr
{
	margin-top:10px;
	margin-bottom:10px;
}
.col-without-padding
{
  padding-right:0px;
  padding-left:0px;
}

.col-without-shadow
{
  box-shadow: none;
}
.col-without-radius
{
  border-radius: 0px;
}

.bottom-accueil
{
	padding-top:25px;
	.col-lg-3
	{
		img
		{
			padding: 4px;
    		line-height: 1.42857143;
    		background-color: #fff;
    		border: 1px solid #ddd;
    		border:solid 3px #232D3B;
		}
		h3
		{
			font-family:'milk';
		}
	}
}

.header
{
	
  height:150px;
  background:#232D3B;
  border-bottom:5px solid #EF4224;
}
.header .logo
{
	height:125px;
	padding-left:25px;
	margin-top:25px;
}

.header .logo a
{
	font-family:'master';
	font-size: 56px;
	color:white;
	padding-left:25px;
	text-decoration: none;
}


.connect-form
{
	color:white;
	padding-top:30px;
	padding-bottom:16px;
	background:#232D3B;
}

.footer
{
  height:50px;
  background:#232D3B;
  border-top:5px solid #EF4224;
  color:white;
  text-align: center;
  line-height: 50px;
  margin-bottom:0px;
}

.content_game
{
	min-height: 850px;
}

.connect_div
{
	min-height: 100%;
}

.col-lg-12 .nav_primal
{
	margin-top:93px;
	margin-bottom:0px;
}

.nav-pills > li > a
{
	border-radius: 0px;
	color:white;
	font-size:15px;
}
.nav-pills > li > a:hover
{
	color:#232D3B;
}
.nav-pills > li > a:focus
{
	color:#232D3B;
}
.nav-pills > li > span
{
	border-radius: 0px;
	color:white;
	font-size:15px;
}
.nav-pills > li > span:hover
{
	color:#232D3B;
}
.nav-pills > li > span:focus
{
	color:#232D3B;
}
