@font-face
{
	font-family:'master';
	src:url('../fonts/master_of_break.ttf');
}
@font-face
{
	font-family:'milk';
	src:url('../fonts/cookies&milk-regular.ttf');
}

body
{
  background-image:url('../images/bg-body.jpg');
}

hr
{
	margin-top:10px;
	margin-bottom:10px;
}
.col-without-padding
{
  padding-right:0px;
  padding-left:0px;
}

.col-without-shadow
{
  box-shadow: none;
}
.col-without-radius
{
  border-radius: 0px;
}

.bottom-accueil
{
	margin-bottom: 50px;
	padding-top:25px;
	.col-lg-3
	{
		img
		{
			padding: 4px;
    		line-height: 1.42857143;
    		background-color: #fff;
    		border: 1px solid #ddd;
    		border:solid 3px #232D3B;
		}
		h3
		{
			font-family:'milk';
		}
	}
}

.header
{
	
  height:auto;
  background:#232D3B;
  border-bottom:5px solid #EF4224;
}
.header .logo
{
	padding-top:15px;
	height:120px;
	padding-left:20px;
}

.header .logo a
{
	font-family:'master';
	font-size: 56px;
	color:white;
	padding-left:25px;
	text-decoration: none;
	@media screen and(max-width: 520px)
	{
		font-size: 45px;
	}
	@media screen and(max-width: 420px)
	{
		font-size: 35px;
	}
}


.connect-form
{
	color:white;
	padding-top:30px;
	padding-bottom:16px;
	background:#232D3B;
}

.footer
{
  height:50px;
  background:#232D3B;
  border-top:5px solid #EF4224;
  color:white;
  text-align: center;
  line-height: 50px;
  margin-bottom:0px;
}

.content_game
{
	min-height: 850px;
	margin-top:15px;
}

.connect_div
{
	min-height: 100%;
}


.nav-pills > li > a
{
	border-radius: 0px;
	color:white;
	font-size:15px;
}
.nav-pills > li > a:hover
{
	color:#232D3B;
}
.nav-pills > li > a:focus
{
	color:#232D3B;
}
.nav-pills > li > span
{
	border-radius: 0px;
	color:white;
	font-size:15px;
}
.nav-pills > li > span:hover
{
	color:#232D3B;
}
.nav-pills > li > span:focus
{
	color:#232D3B;
}

.nav_game
{
	background:#232D3B;	
}

.bg-success
{
	padding-top:10px;
	padding-bottom:10px;
	color:#232D3B;
	font-size: 16px;
	text-align: center;
}

.title
{
	font-family:'milk';
	font-size: 30px;
	margin-top:0px;
	margin-bottom:0px;
	padding-top: 7px;
	padding-bottom:5px;
	color:white;
	background:#232D3B;
	a
	{
		text-decoration: none;
		color:#E6E6E6;
	}
	a:hover
	{
		color:#E36928;
	}
}


a[href^="#"]
{
	color:red !important;
}